In [1]:
!pip install pandas pyodbc sqlalchemy

Requirement already satisfied: pandas in c:\users\rajes\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: pyodbc in c:\users\rajes\anaconda3\lib\site-packages (5.1.0)
Requirement already satisfied: sqlalchemy in c:\users\rajes\anaconda3\lib\site-packages (1.4.52)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rajes\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rajes\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rajes\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rajes\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rajes\anaconda3\lib\site-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in c:\users\rajes\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# Replace 'your_file.csv' with your CSV file path
df = pd.read_csv('olist_order_payments_dataset.csv')

# Optional: check the first few rows
df.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [17]:
drivers = [d for d in pyodbc.drivers() if "SQL Server" in d]
if not drivers:
    raise Exception("No SQL Server ODBC driver found! Install ODBC Driver 17 or 18 for SQL Server.")
driver = drivers[-1]
print(f"Using ODBC driver: {driver}")

Using ODBC driver: ODBC Driver 18 for SQL Server

In [18]:
import pyodbc

server = 'ecommerce-db-server.database.windows.net'
database = 'OlistProject'
username = 'sqladmin'
password = 'Team@123'
driver = 'ODBC Driver 18 for SQL Server'

conn_str = (
    f"Driver={{{driver}}};"
    f"Server={server},1433;"  # Azure SQL requires port 1433
    f"Database={database};"
    f"Uid={username};"
    f"Pwd={password};"
    "Encrypt=yes;"
    "TrustServerCertificate=no;"
    "Connection Timeout=30;"
)

conn = pyodbc.connect(conn_str)
cursor = conn.cursor()
print("Connected to Azure SQL successfully!")

Connected to Azure SQL successfully!

In [19]:
cursor.execute("""
IF OBJECT_ID('dbo.olist_order_payments_dataset', 'U') IS NULL
CREATE TABLE dbo.olist_order_payments_dataset (
    order_id VARCHAR(50),
    payment_sequential INT,
    payment_type VARCHAR(50),
    payment_installments INT,
    payment_value DECIMAL(10,2)
)
""")
conn.commit()

In [20]:
batch_size = 500  # adjust as needed
data_tuples = list(df.itertuples(index=False, name=None))

for i in range(0, len(data_tuples), batch_size):
    batch = data_tuples[i:i+batch_size]
    cursor.executemany("""
        INSERT INTO dbo.olist_order_payments_dataset
        (order_id, payment_sequential, payment_type, payment_installments, payment_value)
        VALUES (?, ?, ?, ?, ?)
    """, batch)
    conn.commit()
    print(f"Inserted rows {i} to {i + len(batch) - 1}")

cursor.close()
conn.close()
print("CSV uploaded to Azure SQL successfully in batches!")

Inserted rows 0 to 499
Inserted rows 500 to 999
Inserted rows 1000 to 1499
Inserted rows 1500 to 1999
Inserted rows 2000 to 2499
Inserted rows 2500 to 2999
Inserted rows 3000 to 3499
Inserted rows 3500 to 3999
Inserted rows 4000 to 4499
Inserted rows 4500 to 4999
Inserted rows 5000 to 5499
Inserted rows 5500 to 5999
Inserted rows 6000 to 6499
Inserted rows 6500 to 6999
Inserted rows 7000 to 7499
Inserted rows 7500 to 7999
Inserted rows 8000 to 8499
Inserted rows 8500 to 8999
Inserted rows 9000 to 9499
Inserted rows 9500 to 9999
Inserted rows 10000 to 10499
Inserted rows 10500 to 10999
Inserted rows 11000 to 11499
Inserted rows 11500 to 11999
Inserted rows 12000 to 12499
Inserted rows 12500 to 12999
Inserted rows 13000 to 13499
Inserted rows 13500 to 13999
Inserted rows 14000 to 14499
Inserted rows 14500 to 14999
Inserted rows 15000 to 15499
Inserted rows 15500 to 15999
Inserted rows 16000 to 16499
Inserted rows 16500 to 16999
Inserted rows 17000 to 17499
Inserted rows 17500 to 17999
Inserted rows 18000 to 18499
Inserted rows 18500 to 18999
Inserted rows 19000 to 19499
Inserted rows 19500 to 19999
Inserted rows 20000 to 20499
Inserted rows 20500 to 20999
Inserted rows 21000 to 21499
Inserted rows 21500 to 21999
Inserted rows 22000 to 22499
Inserted rows 22500 to 22999
Inserted rows 23000 to 23499
Inserted rows 23500 to 23999
Inserted rows 24000 to 24499
Inserted rows 24500 to 24999
Inserted rows 25000 to 25499
Inserted rows 25500 to 25999
Inserted rows 26000 to 26499
Inserted rows 26500 to 26999
Inserted rows 27000 to 27499
Inserted rows 27500 to 27999
Inserted rows 28000 to 28499
Inserted rows 28500 to 28999
Inserted rows 29000 to 29499
Inserted rows 29500 to 29999
Inserted rows 30000 to 30499
Inserted rows 30500 to 30999
Inserted rows 31000 to 31499
Inserted rows 31500 to 31999
Inserted rows 32000 to 32499
Inserted rows 32500 to 32999
Inserted rows 33000 to 33499
Inserted rows 33500 to 33999
Inserted rows 34000 to 34499
Inserted rows 34500 to 34999
Inserted rows 35000 to 35499
Inserted rows 35500 to 35999
Inserted rows 36000 to 36499
Inserted rows 36500 to 36999
Inserted rows 37000 to 37499
Inserted rows 37500 to 37999
Inserted rows 38000 to 38499
Inserted rows 38500 to 38999
Inserted rows 39000 to 39499
Inserted rows 39500 to 39999
Inserted rows 40000 to 40499
Inserted rows 40500 to 40999
Inserted rows 41000 to 41499
Inserted rows 41500 to 41999
Inserted rows 42000 to 42499
Inserted rows 42500 to 42999
Inserted rows 43000 to 43499
Inserted rows 43500 to 43999
Inserted rows 44000 to 44499
Inserted rows 44500 to 44999
Inserted rows 45000 to 45499
Inserted rows 45500 to 45999
Inserted rows 46000 to 46499
Inserted rows 46500 to 46999
Inserted rows 47000 to 47499
Inserted rows 47500 to 47999
Inserted rows 48000 to 48499
Inserted rows 48500 to 48999
Inserted rows 49000 to 49499
Inserted rows 49500 to 49999
Inserted rows 50000 to 50499
Inserted rows 50500 to 50999
Inserted rows 51000 to 51499
Inserted rows 51500 to 51999
Inserted rows 52000 to 52499
Inserted rows 52500 to 52999
Inserted rows 53000 to 53499
Inserted rows 53500 to 53999
Inserted rows 54000 to 54499
Inserted rows 54500 to 54999
Inserted rows 55000 to 55499
Inserted rows 55500 to 55999
Inserted rows 56000 to 56499
Inserted rows 56500 to 56999
Inserted rows 57000 to 57499
Inserted rows 57500 to 57999
Inserted rows 58000 to 58499
Inserted rows 58500 to 58999
Inserted rows 59000 to 59499
Inserted rows 59500 to 59999
Inserted rows 60000 to 60499
Inserted rows 60500 to 60999
Inserted rows 61000 to 61499
Inserted rows 61500 to 61999
Inserted rows 62000 to 62499
Inserted rows 62500 to 62999
Inserted rows 63000 to 63499
Inserted rows 63500 to 63999
Inserted rows 64000 to 64499
Inserted rows 64500 to 64999
Inserted rows 65000 to 65499
Inserted rows 65500 to 65999
Inserted rows 66000 to 66499
Inserted rows 66500 to 66999
Inserted rows 67000 to 67499
Inserted rows 67500 to 67999
Inserted rows 68000 to 68499
Inserted rows 68500 to 68999
Inserted rows 69000 to 69499
Inserted rows 69500 to 69999
Inserted rows 70000 to 70499
Inserted rows 70500 to 70999
Inserted rows 71000 to 71499
Inserted rows 71500 to 71999
Inserted rows 72000 to 72499
Inserted rows 72500 to 72999
Inserted rows 73000 to 73499
Inserted rows 73500 to 73999
Inserted rows 74000 to 74499
Inserted rows 74500 to 74999
Inserted rows 75000 to 75499
Inserted rows 75500 to 75999
Inserted rows 76000 to 76499
Inserted rows 76500 to 76999
Inserted rows 77000 to 77499
Inserted rows 77500 to 77999
Inserted rows 78000 to 78499
Inserted rows 78500 to 78999
Inserted rows 79000 to 79499
Inserted rows 79500 to 79999
Inserted rows 80000 to 80499
Inserted rows 80500 to 80999
Inserted rows 81000 to 81499
Inserted rows 81500 to 81999
Inserted rows 82000 to 82499
Inserted rows 82500 to 82999
Inserted rows 83000 to 83499
Inserted rows 83500 to 83999
Inserted rows 84000 to 84499
Inserted rows 84500 to 84999
Inserted rows 85000 to 85499
Inserted rows 85500 to 85999
Inserted rows 86000 to 86499
Inserted rows 86500 to 86999
Inserted rows 87000 to 87499
Inserted rows 87500 to 87999
Inserted rows 88000 to 88499
Inserted rows 88500 to 88999
Inserted rows 89000 to 89499
Inserted rows 89500 to 89999
Inserted rows 90000 to 90499
Inserted rows 90500 to 90999
Inserted rows 91000 to 91499
Inserted rows 91500 to 91999
Inserted rows 92000 to 92499
Inserted rows 92500 to 92999
Inserted rows 93000 to 93499
Inserted rows 93500 to 93999
Inserted rows 94000 to 94499
Inserted rows 94500 to 94999
Inserted rows 95000 to 95499
Inserted rows 95500 to 95999
Inserted rows 96000 to 96499
Inserted rows 96500 to 96999
Inserted rows 97000 to 97499
Inserted rows 97500 to 97999
Inserted rows 98000 to 98499
Inserted rows 98500 to 98999
Inserted rows 99000 to 99499
Inserted rows 99500 to 99999
Inserted rows 100000 to 100499
Inserted rows 100500 to 100999
Inserted rows 101000 to 101499
Inserted rows 101500 to 101999
Inserted rows 102000 to 102499
Inserted rows 102500 to 102999
Inserted rows 103000 to 103499
Inserted rows 103500 to 103885
CSV uploaded to Azure SQL successfully in batches!